{% load notifications_tags %}
{% load static %}
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
{% register_notify_callbacks refresh_period=2 callbacks='fill_notification_badge' %}
<script>
    function custom() {
        temp = "{% live_notify_badge  %}"
        // console.log(temp)
        var div = document.createElement('div');
        div.innerHTML = temp
        test_2 = div.firstChild
        notif_num = parseInt(test_2.innerText)
        return (notif_num)
    }
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script>
    notif_num_temp = custom()
    id_arr = []

    function my_special_notification_callback(data) {
        temp = document.getElementsByClassName("live_notify_badge")[0].innerText
        temp = parseInt(temp)
        if (temp == 0) {
            console.log(id_arr)
            notif_num_temp = 0
        } else {
            if (notif_num_temp != temp) {
                toastr.error('Camera Activity Detected!');
                notif_num_temp = notif_num_temp + 1
            }
            for (var i = data.unread_list.length - 1; i >= 0; i--) {
                msg = JSON.parse(data.unread_list[i].verb)
                if (msg.warning == "1") {
                    verb_msg = 'Someone detected in ' + '<b>' + msg.location + '</b>' + ' at ' + '<b>' + msg.time +
                        '</b>'
                    if (!document.getElementById(`${data.unread_list[i].id}`)) {
                        id_arr.push(data.unread_list[i].id)
                        let string =
                            `<li id='${data.unread_list[i].id}' style="font-size: 13px;padding: 5px">${verb_msg}</li>
                            <li id='${data.unread_list[i].id}d' style="font-size: 10px;border-bottom:1px solid;border-color: rgb(219, 219, 219);padding-left: 5px;padding-bottom: 10px"><i>${msg.date}</i></li>
                    `
                        $('#notice-link').append(string)
                    }
                } else if (msg.warning == "2") {
                    verb_msg = 'Someone was in ' + '<b>' + msg.location + '</b>' + ' at ' + '<b>' + msg.time + '</b>' +
                        ' for ' + '<b>' + msg.duration + '</b>' + ' seconds'
                    if (!document.getElementById(`${data.unread_list[i].id}`)) {
                        id_arr.push(data.unread_list[i].id)
                        let string =
                            `<li id='${data.unread_list[i].id}' style="font-size: 13px;padding: 5px">${verb_msg}</li>
                            <li id='${data.unread_list[i].id}d' style="font-size: 10px;border-bottom:1px solid;border-color: rgb(219, 219, 219);padding-left: 5px;padding-bottom: 10px"><i>${msg.date}</i></li>
                    `
                        $('#notice-link').append(string)
                    }
                }
            }
        }
    }
</script>

<nav class="sb-topnav navbar navbar-expand navbar-dark p-2 mb-2 bg-white"
    style="box-shadow: 0 1px 1px rgb(226, 226, 226);">

    <a class="navbar-brand" href="/" style="color: black;">homeOS</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#" style="color:black;"><i
            class="fas fa-bars"></i></button>

    <img src="{% static 'info.svg' %}" alt="!" type="button" href="" data-toggle="modal" data-target="#exampleModal">

    <span class="display-3" style="font-size: 12px;padding-left: 2px;" type="button" data-toggle="modal"
        data-target="#exampleModal">Weather info</span>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-12">
        <li class="nav-item dropdown">
            <a class="nav-link " id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="color:black;">
                <img src="{% static 'notif.svg' %}" alt="!" class="dropbtn">
                <span class="badge badge-pill badge-warning" style="float:right;margin-bottom:-10px;">
                    {% live_notify_badge  %}
                </span>
            </a>

            {% register_notify_callbacks refresh_period=2 callbacks='my_special_notification_callback' %}
            <ul class="dropdown-menu dropdown-menu-right dropdown-content" id="notice-link">
                <a href="#" type="submit" name='clear_btn' style="font-size: 12px;" id="mark-as-read">Mark all
                    as read</a>

            </ul>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto ml-md-2">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color:black;"><i
                    class="fas fa-user fa-fw"></i>&nbsp;&nbsp;{{ request.user.username }}&nbsp;</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
            </div>
        </li>
    </ul>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0 none;">
                <center>
                    <h5 class="modal-title" id="exampleModalLabel">Weather Info</h5>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <p id="date-now"></p>
                    <span class="display-3" id="date-now" style="color:rgb(0, 0, 0);font-size: 15px;"></span>
                    <h5 class="modal-title" id="city-name"></h5>
                    <span id="icon" style="width: 10px;"></span>
                    <div id="temp" style="color:black;font-size: 15px; letter-spacing: 1px;" class="display-3">
                    </div>
                    <span id="desc" class="small" style="color: rgba(0, 0, 0, 0.705);"></span>
                </center>
            </div>
            <div class="modal-footer" style="border-top: 0 none;">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#mark-as-read").click(function () {
        $.ajax({
            url: "{% url 'camera:read_notif' %}",
            dataType: 'json',
            success: function (data) {
                toastr.success(data.msg)
                for (let i = 0; i < id_arr.length; i++) {
                    $(`#${id_arr[i]}`).remove();
                    $(`#${id_arr[i]}d`).remove();
                }
            }
        });
    });
</script>