{% extends "camera/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <br><br>
    <div class="jumbotron">
        <center>
            <h1 class="display-3">Create Room</h1>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <table class='w-50 table table-light'>    
                {{ upload_form.as_p }}
                </table>
                <button type="submit" class="btn btn-lg btn-warning">Submit</button>
            </form>
        </center>

    </div>
</div>
{% endblock %}