{% extends "camera/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container">
    <br><br>
    <div class="card shadow p-3 mb-12 bg-white rounded" style="width: 800px;">
        {% if created == "0" %}
        <div class="form-group" id="alertSucced">
            <div class="alert alert-danger alert-dismissable" role="alert">
                <p>Failed to create camera.</p>
            </div>
        </div>
        {% endif %}
        {% if created == "1" %}
        <div class="form-group" id="alertSucced">
            <div class="alert alert-success alert-dismissable" role="alert">
                <p>Camera created successfully.</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title display-4"
                        style="font-size: 280%;border-bottom: 2px solid rgb(198, 207, 255);">
                        Add Camera </h5>

                    <form method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{upload_form|crispy}}
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $("#alertSucced").fadeTo(5000, 1000).slideUp(1000, function () {
            $("#alertSucced").slideUp(1000);
        });
    </script>
    {% endblock %}