{% extends "camera/base.html" %}
{% block content %}
{% load static %}

<div style="padding: 30px 50px;">
    {% if user.is_authenticated %}

    <h6 class="display-6" style="font-size: 140%; color: black;">Welcome home {{user.username}}</h6>

    <table style="width: 100%;">
        {% for value in data %}
        <tr>
            <td>
                <div class="card shadow p-3 mb-12 bg-white rounded">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title display-4"
                                    style="font-size: 180%;border-left: 6px solid rgb(198, 207, 255);">
                                    &nbsp;{{value.room.nama}} </h5>


                                <table>
                                    <thead>
                                        <tr>
                                            {% for nama_device in value.room.device.nama %}
                                            <th>
                                                <p class="lead" style="font-size: 120%;"> {{nama_device}}</p>
                                            </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for topic in value.room.device.topic %}
                                            <td>
                                                <p class="lead" style="font-size: 120%;" id="{{ topic }}"></p>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                        <tr>
                                            {% for nama_camera in value.room.camera.nama %}
                                            <th>
                                                <h6 class="display-4" style="font-size: 17.5px;">{{nama_camera}}
                                                </h6>
                                                
                                            </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for id_camera in value.room.camera.id %}
                                            <td>
                                                <img src="{% url 'camera:face_detect' id_camera %}" alt=""
                                                    class="img-fluid img-thumbnail" width="50%">
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                            <form id="name_form" method="post" action="/del/{{ value.room.id }}">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger confirm-delete" type="submit" name="submit">
                                    Delete
                                </button>
                            </form>

                        </div>

                    </div>
                </div>
                <br>
            </td>
        </tr>
        {% endfor %}

    </table>

    <br>
    <div class="card rounded"  style="width: 120px;height: 130px;"  id="create-room-card">
        <center >
            <div data-toggle="modal" data-target="#addRoomModal" type="button" style="padding-top: 30px;">
                <h6 class="display-4" style="font-size: 17px;">Create Room</h6>
                <img src="{% static 'add_circle.svg' %}" alt="+" href="" width="30px" style="opacity: 0.5;" id="onclick">
            </div>
        </center>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <form method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class='w-50 table table-light'>
                                {{ upload_form.as_p }}
                            </table>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h2>Register or Login if you'd like to</h2>
    {% endif %}
</div>



{% endblock %}