{% extends "camera/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <br>
    <div class="">
        {% if user.is_authenticated %}
        <h6 class="display-6" style="font-size: 140%;">Welcome back {{user.username}}</h6>
        
        <table>
            {% for key,value in data %}
            <tr>
                <td>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{value.nama}} </h5>
                                    {% for kunci, val in value.items %}
                                        {% for nama_device in val.nama_device %}
                                            <p class="card-text">{{nama_device}}</p>
                                        {% endfor %}
                                        {% for nama_camera in val.nama_camera %}
                                            <p class="card-text">{{nama_camera}}</p>
                                        {% endfor %}

                                        
                                        {% for id_camera in val.id_camera %}
                                            <img src="{% url 'camera:face_detect' id_camera %}" alt="error" class="img-fluid">
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <form id="name_form" method="post" action="/del/{{ key }}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger" type="submit" name="submit" id="confirm-delete">
                                        Delete
                                    </button>
                                </form>

                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>


        {% else %}
        <h2>Register or Login if you'd like to</h2>
        {% endif %}
    </div>
</div>


{% endblock %}