{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'camera.css' %}">
  <script src="{% static 'login.js' %}"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <section id="formHolder">
      <div class="row">

        <!-- Brand Box -->
        <div class="col-sm-6 brand">


          <div class="heading">
            <h2 style="color:#f95959;">homeOS</h2>
            <p>Yet Another MQTT Dashboard</p>
          </div>

        </div>  


        <!-- Form Box -->
        <div class="col-sm-6 form">

          <div class="signup form-peice">
            <form class="login-form" enctype="multipart/form-data" action="{% url 'camera:register' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="username" id="username" placeholder="Username" required>
              </div>

              <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Password" required>
              </div>

              <div class="form-group">
                <input type="email" name="email" id="email" placeholder="Email" required>
              </div>

              {% if user_form.errors %}
              <div class="form-group" id="alertFailed">
                <div class="alert alert-danger alert-dismissable" role="alert">
                  {% for key, value in user_form.errors.items %}
                    {{ value|striptags }}
                  {% endfor %}
                </div>
              </div>
              {% endif %}


              <div class="CTA">
                <input type="submit" value="Register">
                <a href="{% url 'user_login' %}" style="color:rgb(99, 99, 99);">Already have account?</a>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>


  </div>


  {% if registered %}
  <script type="text/javascript">
    window.location.replace("{% url 'user_login' %}");
  </script>
  {% endif %}

  <script type="text/javascript">
    $("#alertFailed").fadeTo(5000, 1000).slideUp(1000, function () {
      $("#alertFailed").slideUp(1000);
    });
  </script>


</body>

</html>